.row {
    display: flex;
    justify-content: center;  
  }
  
.column {
    flex: 50%;
    
  }

.postBlock {
  display: block;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  margin-bottom: 10%;
  border-style: solid;
  border-radius: 10%;

  border-color: rgba(0, 0, 0, 0.5);
  border-width: 3px;
  height: 310px;
  width: 450px;
}

.button_del{
  display: flex;
  flex: 1;
  align-self: center;
}

.trapezoid_par {
  border-radius: 10%;
}

.trapezoid_delete {
  display: block;
  margin-top: 0.5em;

  display:inline-block;
	cursor:pointer;
  padding:16px 31px;

  border-top: 25px solid rgba(0, 0, 0, 0.5);
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 450px;

}