<link rel="stylesheet" href="/static/css/styles.css">
{% block content %}
<div class="container">
    <div class="row">

        <div class="column">

            <H2> Search </H2>
            <form role="form" method='POST' action = "/" id="search-form">
                <div class="input-group mb-3 form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">width&nbsp;</span>
                    </div>
                    <input type="text" class="form-control" name="more_width" id="more_width" placeholder="More than"
                        aria-describedby="basic-addon1">
                    <input type="text" class="form-control" name="less_width" id="less_width" placeholder="Less than"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3 form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">height</span>
                    </div>
                    <input type="text" class="form-control" name="more_height" id="more_height" placeholder="More than"
                        aria-describedby="basic-addon1">
                    <input type="text" class="form-control" name="less_height" id="less_height" placeholder="Less than"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3 form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">format</span>
                    </div>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Choose Format</option>
                        <option value="1">PNG</option>
                        <option value="2">JPG</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-info">Search</button>
            </form>

        </div>
        <!-- Content here -->

        <div class="column">
            {% for item in image_tuples %}
            <div class="postBlock">

                <img width="80%" height="80%" srcset='/static/images/{{item[0]}}' style="padding-top: 1em;"
                    class="rounded d-block m-auto" />
                <hr />
                {% autoescape false %}
                <div style="text-align: center;">
                    <a> Original Width : {{ widthList[item[1]] }}</a>
                    <a> Original Height : {{ heightList[item[1]] }}</a>
                </div>
                {% endautoescape %}
            </div>


            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}



